<div class="mh-footer__inner">
    <div class="mh-layout">
        <div class="mh-footer__row">
            <div class="mh-footer__row__column widget mh-footer__row__column--1of4">
                <div class="mh-footer__logo">

                    <img src="~/Content/Tema/Osmaniye Gayrimenkul/images/logo.png" />
                </div>
            </div>
            <div class="mh-footer__row__column mh-footer__row__column--1of4 widget widget_archive"
                 id="archives-4">
                <div class="mh-footer__text">
                    Danışma hizmetimiz ücretsizdir. Mülkünüzün değerini öğrenmek mi istiyorsunuz ?
                    Ücretsiz ekspertiz raporunuz bizden.
                    Yapmanız gereken sadece iletişime geçmek. Mülkünüzün değerini hemen öğrenmek istiyorsanız Hemen Arayın...
                </div>
                <address class="mh-footer__contact">
                    <i class="flaticon-pin"></i>
                    Palalı Süleyman Caddesi
                    80020 MERKEZ/Osmaniye
                    Türkiye
                </address>
                <div class="mh-footer__contact">
                    <a href="tel:05428467383">
                        <i class="flaticon-phone"></i>
                        0542 846 73 83
                    </a>
                </div>
            </div>
          
            <div class="mh-footer__row__column mh-footer__row__column--1of4 widget widget_tag_cloud"
                 id="tag_cloud-3">
                <h3 class="mh-footer__heading">Çalışma Saatlerimiz</h3>
                <div class="tagcloud">
                    <p>Hafta içi hergün ve Cumartesi günü Saat 08.30 ile 19.30 arasında hizmet vermekteyiz...</p><br />
                    <p>Pazar günü kapalıyız...</p>
                </div>
            </div>
            <div class="mh-footer__row__column mh-footer__row__column--1of4 widget widget-mh-social-icons"
                 id="myhome-social-icons-widget-2">
                <h3 class="mh-footer__heading">Bizi Takip Edin</h3>
                <div class="mh-social-icons">
                    <a class="mh-social-icon" target="_blank" href="https://www.facebook.com/">
                        <i class="fa fa-facebook"></i>
                    </a><a class="mh-social-icon" target="_blank" href="https://twitter.com/?lang=tr">
                        <i class="fa fa-twitter"></i>
                    </a><a class="mh-social-icon" target="_blank" href="https://www.instagram.com/">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mh-footer-bottom ">
    <div class="mh-layout">
        2020 Desing by Burcu Ayaz. Tüm hakları saklıdır.
    </div>
</div>
