
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div class="mh-sticky-menu-placeholder"></div>
<div class="mh-layout">
    <div id="post-1866" class="mh-post">
        <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true"
             class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner vc_custom_1504642150975">
                    <div class="wpb_wrapper">
                        <div class="mh-rs-search mh-rs-search--middle mh-rs-search--type-1 mh-rs-search--size-medium mh-rs-search--bg-light-mask">
                            <style>
                                /*<![CDATA[*/
                                #myhome-search-form-submit .mh-search--button {
                                    top: 0px !important
                                }

                                @*@media (max-width: 778px) {
                                    #myhome-search-form-submit .mh-search--button {
                                        top: 0px !important
                                    }
                                }*@

                                /*]]>*/
                            </style>
                            <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet"
                                  property="stylesheet" type="text/css" media="all">
                            <div id="rev_slider_16_1_wrapper" class="rev_slider_wrapper fullscreen-container"
                                 data-source="gallery" style="background:transparent;padding:0px;">
                                <div id="rev_slider_16_1" class="rev_slider fullscreenbanner" style="display:none;"
                                     data-version="5.4.8">
                                    <ul>
                                        <li data-index="rs-22" data-transition="fade" data-slotamount="default"
                                            data-hideafterloop="0" data-hideslideonmobile="off"
                                            data-easein="default" data-easeout="default" data-masterspeed="300"
                                            data-rotate="0" data-saveperformance="off" data-title="Slide"
                                            data-param1="" data-param2="" data-param3="" data-param4=""
                                            data-param5="" data-param6="" data-param7="" data-param8=""
                                            data-param9="" data-param10="" data-description="">
                                            <img src="https://myhometheme.net/agent/wp-content/uploads/2018/07/agent-video-new-img.jpg"
                                                 alt="" title="agent-video-new-img" width="1920" height="1080"
                                                 data-bgposition="center center" data-bgfit="cover"
                                                 class="rev-slidebg" data-no-retina>
                                            <div class="rs-background-video-layer" data-forcerewind="on"
                                                 data-volume="mute" data-videowidth="100%" data-videoheight="100%"
                                                 data-videomp4="https://myhometheme.net/video-myhome-filles/agent.mp4"
                                                 data-videopreload="auto" data-videoloop="loop" data-forceCover="1"
                                                 data-aspectratio="16:9" data-autoplay="true"
                                                 data-autoplayonlyfirsttime="false"></div>
                                            <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                                                 id="slide-22-layer-3" data-x="['center','center','center','center']"
                                                 data-hoffset="['0','0','0','0']"
                                                 data-y="['middle','middle','middle','middle']"
                                                 data-voffset="['0','0','0','0']" data-width="full"
                                                 data-height="full" data-whitespace="nowrap" data-type="shape"
                                                 data-basealign="slide" data-responsive_offset="on"
                                                 data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                                 data-textAlign="['inherit','inherit','inherit','inherit']"
                                                 data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                                 data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                                                 style="z-index: 5;font-family:Open Sans;background-color:rgba(0,0,0,0.45);">
                                            </div>
                                            <h3 class="tp-caption   tp-resizeme" id="slide-22-layer-2"
                                                data-x="['center','center','center','center']"
                                                data-hoffset="['0','0','0','0']"
                                                data-y="['middle','middle','middle','middle']"
                                                data-voffset="['-69','-69','-70','-40']"
                                                data-fontsize="['50','50','50','24']"
                                                data-lineheight="['50','50','50','32']"
                                                data-width="['none','none','none','300']" data-height="none"
                                                data-whitespace="['nowrap','nowrap','nowrap','normal']"
                                                data-type="text" data-responsive_offset="on"
                                                data-frames='[{"delay":900.0003051757812,"speed":800,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                                data-textAlign="['inherit','inherit','inherit','center']"
                                                data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                                                style="z-index: 6; white-space: nowrap; font-size: 50px; line-height: 50px; font-weight: 700; color: rgba(255,255,255,1); letter-spacing: px;text-transform:uppercase;">
                                               Hasan Yıldırım
                                            </h3>
                                            <div class="tp-caption   tp-resizeme" id="slide-22-layer-5"
                                                 data-x="['center','center','center','center']"
                                                 data-hoffset="['0','0','0','0']"
                                                 data-y="['middle','middle','middle','middle']"
                                                 data-voffset="['-10','-10','-10','-10']"
                                                 data-fontsize="['24','24','24','21']" data-width="none"
                                                 data-height="none" data-whitespace="nowrap" data-type="text"
                                                 data-responsive_offset="on"
                                                 data-frames='[{"delay":900.0003051757812,"speed":800,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                                 data-textAlign="['inherit','inherit','inherit','inherit']"
                                                 data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                                 data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                                                 style="z-index: 7; white-space: nowrap; font-size: 24px; line-height: 24px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: px;font-style:italic;">
                                               Osmaniye'de ki Gayrimenkul Danışmanınız
                                            </div>
                                            <div class="tp-caption  " id="slide-22-layer-6"
                                                 data-x="['center','center','center','center']"
                                                 data-hoffset="['0','0','0','0']"
                                                 data-y="['middle','middle','middle','middle']"
                                                 data-voffset="['50','50','50','50']" data-width="none"
                                                 data-height="none" data-whitespace="nowrap" data-type="text"
                                                 data-responsive_offset="off" data-responsive="off"
                                                 data-frames='[{"delay":1700.0003051757812,"speed":400,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                                 data-textAlign="['inherit','inherit','inherit','inherit']"
                                                 data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                                 data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                                                 style="z-index: 8; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: px;">
                                                <div class="mh-slider__buttons">
                                                    <a href="#"
                                                       class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--white">
                                                        Randevu al
                                                    </a><a href="#"
                                                           class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--primary">
                                                        İletişime geç
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;">
                                    </div>
                                </div>
                                <script type="357ac28a54e0bf48f0aeb0df-text/javascript">
                                    /*<![CDATA[*/
                                    var htmlDiv = document.getElementById("rs-plugin-settings-inline-css");
                                    var htmlDivCss = "";
                                    if (htmlDiv) {
                                        htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                                    } else {
                                        var htmlDiv = document.createElement("div");
                                        htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                                        document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
                                    } /*]]>*/
                                </script>
                                <script type="357ac28a54e0bf48f0aeb0df-text/javascript">
                                    if (setREVStartSize !== undefined) setREVStartSize({
                                        c: '#rev_slider_16_1',
                                        responsiveLevels: [1240, 1024, 778, 480],
                                        gridwidth: [1024, 900, 738, 320],
                                        gridheight: [500, 500, 400, 300],
                                        sliderLayout: 'fullscreen',
                                        fullScreenAutoWidth: 'off',
                                        fullScreenAlignForce: 'off',
                                        fullScreenOffsetContainer: '.mh-top-header, #wpadminbar',
                                        fullScreenOffset: ''
                                    });
                                    var revapi16, tpj;
                                    (function() {
                                        if (!/loaded|interactive|complete/.test(document.readyState)) document
                                            .addEventListener("DOMContentLoaded", onLoad);
                                        else onLoad();

                                        function onLoad() {
                                            if (tpj === undefined) {
                                                tpj = jQuery;
                                                if ("off" == "on") tpj.noConflict();
                                            }
                                            if (tpj("#rev_slider_16_1").revolution == undefined) {
                                                revslider_showDoubleJqueryError("#rev_slider_16_1");
                                            } else {
                                                revapi16 = tpj("#rev_slider_16_1").show().revolution({
                                                    sliderType: "hero",
                                                    jsFileLocation: "//myhometheme.net/agent/wp-content/plugins/revslider/public/assets/js/",
                                                    sliderLayout: "fullscreen",
                                                    dottedOverlay: "none",
                                                    delay: 9000,
                                                    responsiveLevels: [1240, 1024, 778, 480],
                                                    visibilityLevels: [1240, 1024, 778, 480],
                                                    gridwidth: [1024, 900, 738, 320],
                                                    gridheight: [500, 500, 400, 300],
                                                    lazyType: "none",
                                                    shadow: 0,
                                                    spinner: "off",
                                                    autoHeight: "off",
                                                    fullScreenAutoWidth: "off",
                                                    fullScreenAlignForce: "off",
                                                    fullScreenOffsetContainer: ".mh-top-header, #wpadminbar",
                                                    fullScreenOffset: "",
                                                    disableProgressBar: "on",
                                                    hideThumbsOnMobile: "off",
                                                    hideSliderAtLimit: 0,
                                                    hideCaptionAtLimit: 0,
                                                    hideAllCaptionAtLilmit: 0,
                                                    debugMode: false,
                                                    fallbacks: {
                                                        simplifyAll: "off",
                                                        disableFocusListener: false,
                                                    }
                                                });
                                            };
                                        };
                                    }());
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_row-full-width vc_clearfix"></div>
        <div data-vc-full-width="true" data-vc-full-width-init="false"
             class="vc_row wpb_row vc_row-fluid vc_custom_1531151894780 vc_row-has-fill">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner vc_custom_1531151908091">
                    <div class="wpb_wrapper">
                        <div class=" ">
                            <div class="mh-heading-wrapper">
                                <h2 class="mh-heading  mh-heading--bottom-separator   " style="font-weight:700;">
                                    Ne Arıyorsunuz?
                                </h2>
                            </div>
                        </div>
                        <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1531151919946">
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="mh-simple-box-wrapper">
                                            <article class="mh-simple-box mh-simple-box--center">
                                                <div class="mh-icon-wrapper mh-color-default" style="">
                                                    <i class="flaticon-home"></i>
                                                </div>
                                                <div class="mh-simple-box__content">
                                                    <h3 class="mh-simple-box__heading mh-color-default" style="">
                                                        Apartmanlar
                                                    </h3>
                                                    <div class="mh-simple-box__text mh-color-default" style="">
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                  İsteklerinizi karşılayacak size ve ailenize en uygun daireyi bulmak için bize ulaşın...
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div style="text-align:center;" class="">
                                            <a href="https://myhometheme.net/agent/property-type/apartment/"
                                               class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary-ghost "
                                               title="View All" target="_self">
                                                Tümünü gör
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="mh-simple-box-wrapper">
                                            <article class="mh-simple-box mh-simple-box--center">
                                                <div class="mh-icon-wrapper mh-color-default" style="">
                                                    <i class="flaticon-home-2"></i>
                                                </div>
                                                <div class="mh-simple-box__content">
                                                    <h3 class="mh-simple-box__heading mh-color-default" style="">
                                                        Müstakil Evler
                                                    </h3>
                                                    <div class="mh-simple-box__text mh-color-default" style="">
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    Kalabalık ailelerin vazgeçilmezi müstakil evlerimiz size yuva olmak için hazırda bekliyor
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div style="text-align:center;" class="">
                                            <a href="https://myhometheme.net/agent/property-type/house/"
                                               class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary-ghost "
                                               title="View All" target="_self">
                                                Tümünü gör
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="mh-simple-box-wrapper">
                                            <article class="mh-simple-box mh-simple-box--center">
                                                <div class="mh-icon-wrapper mh-color-default" style="">
                                                    <i class="flaticon-city"></i>
                                                </div>
                                                <div class="mh-simple-box__content">
                                                    <h3 class="mh-simple-box__heading mh-color-default" style="">
                                                        Arsalar
                                                    </h3>
                                                    <div class="mh-simple-box__text mh-color-default" style="">
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                   Yatırım yapmak için arsa mı arıyorsunuz? Doğru adrestesiniz...
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div style="text-align:center;" class="">
                                            <a href="https://myhometheme.net/agent/property-type/office/"
                                               class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary-ghost "
                                               title="View All" target="_self">
                                                Tümünü gör
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_row-full-width vc_clearfix"></div>
        <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true"
             class="vc_row wpb_row vc_row-fluid vc_custom_1531150089888 vc_row-has-fill vc_row-no-padding vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
            <div class="mh-2-col-image-bg wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
                <div class="vc_column-inner vc_custom_1532970051547">
                    <div class="wpb_wrapper"></div>
                </div>
            </div>
            <div class="mh-2-col-text wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner vc_custom_1496231457062">
                    <div class="wpb_wrapper">
                        <div class="mh-heading-wrapper--left ">
                            <div class="mh-heading-wrapper">
                                <h2 class="mh-heading  mh-heading--bottom-separator   " style="font-weight:700;">
                                    Hakkımızda
                                </h2>
                            </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element  mh-font-size-m">
                            <div class="wpb_wrapper">
                                <p>
                                    Degerli dost ve musterimiz Osmaniye'de sizlere daha şeffaf ve daha profesyonel
                                    bir hizmet vermek için sürekli olarak kendimizi geliştiriyor mesleğimize olan
                                    sevgimizden dolayı işimizi kaliteli bir sekilde sunmak için çabalıyoruz. 
                                    Remax ailesi olarak en önemli misyonumuz " Her ailenin Remax'lı bir
                                    gayrimenkul danışmanı olmalı" sloganıyla çıktığımız bu yolda işimizi
                                    layıkıyla yerine getiriyoruz. Değişen dünyada ekonomiden sosyal hayata 
                                    tüm gelişmeleri takip edip yaptığımız özel teknik çalışmalar ve analizlerimizle
                                    sizlere gönül rahatlığıyla daha isabetli karar verebilmenizi sağlıyoruz.
                                    Unutmayın Remax her zaman yanınızda...
                                    Bizi tercih etmek isterseniz hemen arayın...
                                </p>
                               
                            </div>
                        </div>
                        <div style="text-align:left;" class="">
                            <a href="https://myhometheme.net/agent/about-me/"
                               class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary-ghost "
                               title="Read more" target="_self">
                                Daha fazla
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_row-full-width vc_clearfix"></div>
        <div id="houses" data-vc-full-width="true" data-vc-full-width-init="false"
             class="vc_row wpb_row vc_row-fluid vc_custom_1529578881204 vc_row-has-fill">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner vc_custom_1504771700068">
                    <div class="wpb_wrapper">
                        <div class=" ">
                            <div class="mh-heading-wrapper">
                                <h2 class="mh-heading  mh-heading--bottom-separator   " style="font-weight:700;">
                                    Dairelerimiz
                                </h2>
                            </div>
                        </div>
                        <div class="mh-grid">
                            <div class="mh-grid__1of3">
                                <div class=" mh-attribute-property-type__apartment mh-attribute-offer-type__sale mh-attribute-offer-type__open-house mh-attribute-city__chicago mh-attribute-zip-code__60007 mh-attribute-neighborhood__wicker-park mh-attribute-street__ch-wicker-park-street-1 mh-attribute-bedrooms__bedrooms mh-attribute-bathrooms__bathrooms mh-attribute-property-size__property-size mh-attribute-year-built__year-built mh-attribute-features__attic mh-attribute-features__dishwasher mh-attribute-features__fireplace mh-attribute-features__garden mh-attribute-features__gym mh-attribute-features__high-ceilings mh-attribute-features__microwave mh-attribute-features__patio mh-attribute-features__swimming-pool ">
                                    <article class="mh-estate-vertical mh-estate-vertical--list">
                                        <add-to-favorite class="myhome-add-to-favorite" :property-id="113">
                                        </add-to-favorite>
                                        <a href="https://myhometheme.net/agent/properties/apartment/chicago/modern-apartment-in-the-city-center/"
                                           title="Modern apartment in the city center" class="mh-thumbnail">
                                            <div class="mh-thumbnail__inner">
                                                <img data-srcset="https://myhometheme.net/agent/wp-content/uploads/2017/01/modern-apartment-in-the-city-center-120x75.jpg 120w, https://myhometheme.net/agent/wp-content/uploads/2017/01/modern-apartment-in-the-city-center-848x530.jpg 848w, https://myhometheme.net/agent/wp-content/uploads/2017/01/modern-apartment-in-the-city-center-600x375.jpg 600w, https://myhometheme.net/agent/wp-content/uploads/2017/01/modern-apartment-in-the-city-center-400x250.jpg 400w, https://myhometheme.net/agent/wp-content/uploads/2017/01/modern-apartment-in-the-city-center-224x140.jpg 224w"
                                                     class="lazyload " data-sizes="auto"
                                                     alt="Modern apartment in the city center">
                                            </div>
                                            <div class="mh-thumbnail__featured">
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="mh-caption">
                                                <div class="mh-caption__inner mh-label__sale"
                                                     style="background-color: #2c3e50; color: #fff">
                                                    Satın al
                                                </div>
                                                <div class="mh-caption__inner mh-label__open-house"
                                                     style="background-color: #00a587; color: #ffffff">
                                                    Görüntüle
                                                </div>
                                            </div>
                                            <div class="mh-estate-vertical__text">
                                                <div class="mh-estate-vertical__text__inner">
                                                    How the adventure ended will be seen anon. Aouda was anxious,
                                                    though she said nothing. As for Passepartout, he thought Mr.
                                                    Fogg’s manoeuvre simply glorious. ...
                                                </div>
                                            </div>
                                        </a>
                                        <div class="mh-estate-vertical__content">
                                            <h3 class="mh-estate-vertical__heading">
                                                <a href="https://myhometheme.net/agent/properties/apartment/chicago/modern-apartment-in-the-city-center/"
                                                   title="Modern apartment in the city center">
                                                    Şehrimizdeki modern bir apartman dairesi
                                                </a>
                                            </h3>
                                            <address class="mh-estate-vertical__subheading">
                                                Osmaniye
                                            </address>
                                            <div class="mh-estate-vertical__primary">
                                                <div>
                                                    350.000TL
                                                </div>
                                            </div>
                                            <div>
                                                <div class="mh-estate__list">
                                                    <div class="mh-estate-vertical__more-info mh-attribute__bedrooms">
                                                        <strong>
                                                            Yatak odası:
                                                        </strong>3
                                                    </div>
                                                    <div class="mh-estate-vertical__more-info mh-attribute__bathrooms">
                                                        <strong>
                                                            Banyo:
                                                        </strong>2
                                                    </div>
                                                    <div class="mh-estate-vertical__more-info mh-attribute__property-size">
                                                        <strong>
                                                            Property size:
                                                        </strong>1100 ft²
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mh-estate-vertical__bottom">
                                                <div class="mh-estate-vertical__bottom__inner">
                                                    <div class="mh-estate-vertical__date">
                                                        3 years ago
                                                    </div>
                                                    <div class="mh-estate-vertical__buttons-wrapper">
                                                        <div class="mh-estate-vertical__buttons">
                                                            <div class="mh-estate-vertical__buttons__single">
                                                                <compare-button class="myhome-compare-button myhome-compare-button-list"
                                                                                :estate="{&quot;id&quot;:113,&quot;name&quot;:&quot;Modern apartment in the city center&quot;,&quot;slug&quot;:&quot;modern-apartment-in-the-city-center&quot;,&quot;excerpt&quot;:&quot;How the adventure ended will be seen anon. Aouda was anxious, though she said nothing. As for Passepartout, he thought Mr....&quot;,&quot;link&quot;:&quot;https:\/\/myhometheme.net\/agent\/properties\/apartment\/chicago\/modern-apartment-in-the-city-center\/&quot;,&quot;has_price&quot;:true,&quot;image_srcset&quot;:&quot;https:\/\/myhometheme.net\/agent\/wp-content\/uploads\/2017\/01\/modern-apartment-in-the-city-center-120x75.jpg 120w, https:\/\/myhometheme.net\/agent\/wp-content\/uploads\/2017\/01\/modern-apartment-in-the-city-center-848x530.jpg 848w, https:\/\/myhometheme.net\/agent\/wp-content\/uploads\/2017\/01\/modern-apartment-in-the-city-center-600x375.jpg 600w, https:\/\/myhometheme.net\/agent\/wp-content\/uploads\/2017\/01\/modern-apartment-in-the-city-center-400x250.jpg 400w, https:\/\/myhometheme.net\/agent\/wp-content\/uploads\/2017\/01\/modern-apartment-in-the-city-center-224x140.jpg 224w&quot;,&quot;image&quot;:&quot;https:\/\/myhometheme.net\/agent\/wp-content\/uploads\/2017\/01\/modern-apartment-in-the-city-center.jpg&quot;,&quot;attributes&quot;:[{&quot;name&quot;:&quot;Property type&quot;,&quot;slug&quot;:&quot;property-type&quot;,&quot;has_archive&quot;:true,&quot;values&quot;:[{&quot;name&quot;:&quot;Apartment&quot;,&quot;value&quot;:&quot;Apartment&quot;,&quot;link&quot;:&quot;https:\/\/myhometheme.net\/agent\/property-type\/apartment\/&quot;,&quot;slug&quot;:&quot;apartment&quot;,&quot;options&quot;:[]}],&quot;display_after&quot;:&quot;&quot;,&quot;show&quot;:true,&quot;card_show&quot;:false,&quot;icon&quot;:&quot;&quot;},{&quot;name&quot;:&quot;Offer type&quot;,&quot;slug&quot;:&quot;offer-type&quot;,&quot;has_archive&quot;:true,&quot;values&quot;:[{&quot;name&quot;:&quot;For Sale&quot;,&quot;value&quot;:&quot;For Sale&quot;,&quot;link&quot;:&quot;https:\/\/myhometheme.net\/agent\/offer-type\/sale\/&quot;,&quot;slug&quot;:&quot;sale&quot;,&quot;options&quot;:{&quot;has_label&quot;:true,&quot;bg_color&quot;:&quot;#2c3e50&quot;,&quot;color&quot;:&quot;#fff&quot;}},{&quot;name&quot;:&quot;Open House&quot;,&quot;value&quot;:&quot;Open House&quot;,&quot;link&quot;:&quot;https:\/\/myhometheme.net\/agent\/offer-type\/open-house\/&quot;,&quot;slug&quot;:&quot;open-house&quot;,&quot;options&quot;:{&quot;has_label&quot;:true,&quot;bg_color&quot;:&quot;#00a587&quot;,&quot;color&quot;:&quot;#ffffff&quot;}}],&quot;display_after&quot;:&quot;&quot;,&quot;show&quot;:true,&quot;card_show&quot;:false,&quot;icon&quot;:&quot;&quot;},{&quot;name&quot;:&quot;City&quot;,&quot;slug&quot;:&quot;city&quot;,&quot;has_archive&quot;:true,&quot;values&quot;:[{&quot;name&quot;:&quot;Chicago&quot;,&quot;value&quot;:&quot;Chicago&quot;,&quot;link&quot;:&quot;https:\/\/myhometheme.net\/agent\/city\/chicago\/&quot;,&quot;slug&quot;:&quot;chicago&quot;,&quot;options&quot;:[]}],&quot;display_after&quot;:&quot;&quot;,&quot;show&quot;:true,&quot;card_show&quot;:false,&quot;icon&quot;:&quot;&quot;},{&quot;name&quot;:&quot;Zip Code&quot;,&quot;slug&quot;:&quot;zip-code&quot;,&quot;has_archive&quot;:true,&quot;values&quot;:[{&quot;name&quot;:&quot;60007&quot;,&quot;value&quot;:&quot;60007&quot;,&quot;link&quot;:&quot;https:\/\/myhometheme.net\/agent\/zip-code\/60007\/&quot;,&quot;slug&quot;:&quot;60007&quot;,&quot;options&quot;:[]}],&quot;display_after&quot;:&quot;&quot;,&quot;show&quot;:true,&quot;card_show&quot;:false,&quot;icon&quot;:&quot;&quot;},{&quot;name&quot;:&quot;Neighborhood&quot;,&quot;slug&quot;:&quot;neighborhood&quot;,&quot;has_archive&quot;:true,&quot;values&quot;:[{&quot;name&quot;:&quot;Wicker Park&quot;,&quot;value&quot;:&quot;Wicker Park&quot;,&quot;link&quot;:&quot;https:\/\/myhometheme.net\/agent\/neighborhood\/wicker-park\/&quot;,&quot;slug&quot;:&quot;wicker-park&quot;,&quot;options&quot;:[]}],&quot;display_after&quot;:&quot;&quot;,&quot;show&quot;:true,&quot;card_show&quot;:false,&quot;icon&quot;:&quot;&quot;},{&quot;name&quot;:&quot;Street&quot;,&quot;slug&quot;:&quot;street&quot;,&quot;has_archive&quot;:true,&quot;values&quot;:[{&quot;name&quot;:&quot;CH Wicker Park Street #1&quot;,&quot;value&quot;:&quot;CH Wicker Park Street #1&quot;,&quot;link&quot;:&quot;https:\/\/myhometheme.net\/agent\/street\/ch-wicker-park-street-1\/&quot;,&quot;slug&quot;:&quot;ch-wicker-park-street-1&quot;,&quot;options&quot;:[]}],&quot;display_after&quot;:&quot;&quot;,&quot;show&quot;:true,&quot;card_show&quot;:false,&quot;icon&quot;:&quot;&quot;},{&quot;name&quot;:&quot;Bedrooms&quot;,&quot;slug&quot;:&quot;bedrooms&quot;,&quot;has_archive&quot;:false,&quot;values&quot;:[{&quot;name&quot;:&quot;3&quot;,&quot;value&quot;:&quot;3&quot;,&quot;link&quot;:&quot;&quot;,&quot;slug&quot;:&quot;bedrooms&quot;,&quot;options&quot;:[]}],&quot;display_after&quot;:&quot;&quot;,&quot;show&quot;:true,&quot;card_show&quot;:true,&quot;icon&quot;:&quot;&quot;},{&quot;name&quot;:&quot;Bathrooms&quot;,&quot;slug&quot;:&quot;bathrooms&quot;,&quot;has_archive&quot;:false,&quot;values&quot;:[{&quot;name&quot;:&quot;2&quot;,&quot;value&quot;:&quot;2&quot;,&quot;link&quot;:&quot;&quot;,&quot;slug&quot;:&quot;bathrooms&quot;,&quot;options&quot;:[]}],&quot;display_after&quot;:&quot;&quot;,&quot;show&quot;:true,&quot;card_show&quot;:true,&quot;icon&quot;:&quot;&quot;},{&quot;name&quot;:&quot;Property size&quot;,&quot;slug&quot;:&quot;property-size&quot;,&quot;has_archive&quot;:false,&quot;values&quot;:[{&quot;name&quot;:&quot;1100 ft\u00b2&quot;,&quot;value&quot;:&quot;1100&quot;,&quot;link&quot;:&quot;&quot;,&quot;slug&quot;:&quot;property-size&quot;,&quot;options&quot;:[]}],&quot;display_after&quot;:&quot;ft\u00b2&quot;,&quot;show&quot;:true,&quot;card_show&quot;:true,&quot;icon&quot;:&quot;&quot;},{&quot;name&quot;:&quot;Year&quot;,&quot;slug&quot;:&quot;year-built&quot;,&quot;has_archive&quot;:false,&quot;values&quot;:[{&quot;name&quot;:&quot;2007&quot;,&quot;value&quot;:&quot;2007&quot;,&quot;link&quot;:&quot;&quot;,&quot;slug&quot;:&quot;year-built&quot;,&quot;options&quot;:[]}],&quot;display_after&quot;:&quot;&quot;,&quot;show&quot;:true,&quot;card_show&quot;:false,&quot;icon&quot;:&quot;&quot;},{&quot;name&quot;:&quot;Lot size&quot;,&quot;slug&quot;:&quot;lot-size&quot;,&quot;has_archive&quot;:false,&quot;values&quot;:[],&quot;display_after&quot;:&quot;ft\u00b2&quot;,&quot;show&quot;:true,&quot;card_show&quot;:false,&quot;icon&quot;:&quot;&quot;},{&quot;name&quot;:&quot;Features&quot;,&quot;slug&quot;:&quot;features&quot;,&quot;has_archive&quot;:false,&quot;values&quot;:[{&quot;name&quot;:&quot;Attic&quot;,&quot;value&quot;:&quot;Attic&quot;,&quot;link&quot;:&quot;https:\/\/myhometheme.net\/agent\/features\/attic\/&quot;,&quot;slug&quot;:&quot;attic&quot;,&quot;options&quot;:[]},{&quot;name&quot;:&quot;Dishwasher&quot;,&quot;value&quot;:&quot;Dishwasher&quot;,&quot;link&quot;:&quot;https:\/\/myhometheme.net\/agent\/features\/dishwasher\/&quot;,&quot;slug&quot;:&quot;dishwasher&quot;,&quot;options&quot;:[]},{&quot;name&quot;:&quot;Fireplace&quot;,&quot;value&quot;:&quot;Fireplace&quot;,&quot;link&quot;:&quot;https:\/\/myhometheme.net\/agent\/features\/fireplace\/&quot;,&quot;slug&quot;:&quot;fireplace&quot;,&quot;options&quot;:[]},{&quot;name&quot;:&quot;Garden&quot;,&quot;value&quot;:&quot;Garden&quot;,&quot;link&quot;:&quot;https:\/\/myhometheme.net\/agent\/features\/garden\/&quot;,&quot;slug&quot;:&quot;garden&quot;,&quot;options&quot;:[]},{&quot;name&quot;:&quot;Gym&quot;,&quot;value&quot;:&quot;Gym&quot;,&quot;link&quot;:&quot;https:\/\/myhometheme.net\/agent\/features\/gym\/&quot;,&quot;slug&quot;:&quot;gym&quot;,&quot;options&quot;:[]},{&quot;name&quot;:&quot;High ceilings&quot;,&quot;value&quot;:&quot;High ceilings&quot;,&quot;link&quot;:&quot;https:\/\/myhometheme.net\/agent\/features\/high-ceilings\/&quot;,&quot;slug&quot;:&quot;high-ceilings&quot;,&quot;options&quot;:[]},{&quot;name&quot;:&quot;Microwave&quot;,&quot;value&quot;:&quot;Microwave&quot;,&quot;link&quot;:&quot;https:\/\/myhometheme.net\/agent\/features\/microwave\/&quot;,&quot;slug&quot;:&quot;microwave&quot;,&quot;options&quot;:[]},{&quot;name&quot;:&quot;Patio&quot;,&quot;value&quot;:&quot;Patio&quot;,&quot;link&quot;:&quot;https:\/\/myhometheme.net\/agent\/features\/patio\/&quot;,&quot;slug&quot;:&quot;patio&quot;,&quot;options&quot;:[]},{&quot;name&quot;:&quot;Swimming Pool&quot;,&quot;value&quot;:&quot;Swimming Pool&quot;,&quot;link&quot;:&quot;https:\/\/myhometheme.net\/agent\/features\/swimming-pool\/&quot;,&quot;slug&quot;:&quot;swimming-pool&quot;,&quot;options&quot;:[]}],&quot;display_after&quot;:&quot;&quot;,&quot;show&quot;:true,&quot;card_show&quot;:false,&quot;icon&quot;:&quot;&quot;}],&quot;address&quot;:&quot;122-140 N Morgan St, Chicago, IL 60607, USA&quot;,&quot;days_ago&quot;:&quot;3 years ago&quot;,&quot;is_featured&quot;:true,&quot;offer_type&quot;:[{&quot;name&quot;:&quot;For Sale&quot;,&quot;value&quot;:&quot;For Sale&quot;,&quot;link&quot;:&quot;https:\/\/myhometheme.net\/agent\/offer-type\/sale\/&quot;,&quot;slug&quot;:&quot;sale&quot;,&quot;options&quot;:{&quot;has_label&quot;:true,&quot;bg_color&quot;:&quot;#2c3e50&quot;,&quot;color&quot;:&quot;#fff&quot;}},{&quot;name&quot;:&quot;Open House&quot;,&quot;value&quot;:&quot;Open House&quot;,&quot;link&quot;:&quot;https:\/\/myhometheme.net\/agent\/offer-type\/open-house\/&quot;,&quot;slug&quot;:&quot;open-house&quot;,&quot;options&quot;:{&quot;has_label&quot;:true,&quot;bg_color&quot;:&quot;#00a587&quot;,&quot;color&quot;:&quot;#ffffff&quot;}}],&quot;status&quot;:&quot;publish&quot;,&quot;payment_status&quot;:&quot;pre_payment&quot;,&quot;attribute_classes&quot;:&quot; mh-attribute-property-type__apartment mh-attribute-offer-type__sale mh-attribute-offer-type__open-house mh-attribute-city__chicago mh-attribute-zip-code__60007 mh-attribute-neighborhood__wicker-park mh-attribute-street__ch-wicker-park-street-1 mh-attribute-bedrooms__bedrooms mh-attribute-bathrooms__bathrooms mh-attribute-property-size__property-size mh-attribute-year-built__year-built mh-attribute-features__attic mh-attribute-features__dishwasher mh-attribute-features__fireplace mh-attribute-features__garden mh-attribute-features__gym mh-attribute-features__high-ceilings mh-attribute-features__microwave mh-attribute-features__patio mh-attribute-features__swimming-pool&quot;,&quot;gallery&quot;:[{&quot;image&quot;:&quot;https:\/\/myhometheme.net\/agent\/wp-content\/uploads\/2017\/01\/modern-apartment-in-the-city-center-600x375.jpg&quot;,&quot;alt&quot;:&quot;&quot;},{&quot;image&quot;:&quot;https:\/\/myhometheme.net\/agent\/wp-content\/uploads\/2017\/01\/warm-and-modern-studio-apartment-600x375.jpg&quot;,&quot;alt&quot;:&quot;&quot;},{&quot;image&quot;:&quot;https:\/\/myhometheme.net\/agent\/wp-content\/uploads\/2017\/01\/two-storey-modern-flat-600x375.jpg&quot;,&quot;alt&quot;:&quot;&quot;},{&quot;image&quot;:&quot;https:\/\/myhometheme.net\/agent\/wp-content\/uploads\/2017\/01\/minimalist-and-bright-flat-600x375.jpg&quot;,&quot;alt&quot;:&quot;&quot;},{&quot;image&quot;:&quot;https:\/\/myhometheme.net\/agent\/wp-content\/uploads\/2017\/01\/bright-and-sunny-flat-600x375.jpg&quot;,&quot;alt&quot;:&quot;&quot;}],&quot;date&quot;:&quot;October 7, 2017&quot;,&quot;price&quot;:[{&quot;price&quot;:&quot;$1.300.000&quot;,&quot;is_range&quot;:false}]}">
                                                                </compare-button>
                                                            </div>
                                                            <div class="mh-estate-vertical__buttons__single">
                                                                <a href="https://myhometheme.net/agent/properties/apartment/chicago/modern-apartment-in-the-city-center/"
                                                                   title="Modern apartment in the city center"
                                                                   class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary-ghost">
                                                                    Detay <span class="mdl-button__icon-right">
                                                                        <i class="fa fa-angle-right"></i>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div style="text-align:center;" class=" vc_custom_1531143765894">
                            <a href="https://myhometheme.net/agent/property-type/house/"
                               class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary mdl-button--lg"
                               title="View All Featured" target="_self">
                                View All Featured
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_row-full-width vc_clearfix"></div>
        <div data-vc-full-width="true" data-vc-full-width-init="false"
             class="vc_row wpb_row vc_row-fluid vc_custom_1532194778097 vc_row-has-fill">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner vc_custom_1532194760767">
                    <div class="wpb_wrapper">
                        <div class=" ">
                            <div class="mh-heading-wrapper">
                                <h2 class="mh-heading mh-color-white mh-heading--bottom-separator   "
                                    style="font-weight:700;">
                                    Yorumlar
                                </h2>
                            </div>
                        </div>
                        <div class="owl-carousel owl-carousel--visible-1  mh-testimonials--light mh-testimonials--standard">
                            <div class="item">
                                <article class="mh-testimonial">
                                    <div class="mh-testimonial__inner">
                                        <blockquote class="mh-testimonial__text">
                                            <p>
                                                Hasan beyle yaptığımız işlemlerde bize gayet nazik ve kibar bir şekilde davrandı işini profosyonel
                                                ve şeffaf bir şekilde yürüttü yıllardır arzu ettipimiz dairemize kendisinin sayesinde kavuştuk
                                                teşekkürler REMAX
                                            </p>
                                        </blockquote>
                                        <div class="mh-testimonial__photo">
                                            <img data-srcset="https://myhometheme.net/agent/wp-content/uploads/2017/02/Willard-Donovan-100x100.jpg 100w, https://myhometheme.net/agent/wp-content/uploads/2017/02/Willard-Donovan-150x150.jpg 150w, https://myhometheme.net/agent/wp-content/uploads/2017/02/Willard-Donovan-300x300.jpg 300w, https://myhometheme.net/agent/wp-content/uploads/2017/02/Willard-Donovan-400x400.jpg 400w, https://myhometheme.net/agent/wp-content/uploads/2017/02/Willard-Donovan-200x200.jpg 200w, https://myhometheme.net/agent/wp-content/uploads/2017/02/Willard-Donovan-600x600.jpg 600w, https://myhometheme.net/agent/wp-content/uploads/2017/02/Willard-Donovan.jpg 634w"
                                                 class="lazyload " data-sizes="auto" alt="Willard Donovan">
                                        </div>
                                        <div class="mh-testimonial__author-info">
                                            <h3 class="mh-testimonial__author">
                                                Mehmet K.
                                            </h3>     
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="item">
                                <article class="mh-testimonial">
                                    <div class="mh-testimonial__inner">
                                        <blockquote class="mh-testimonial__text">
                                            <p>
                                                İşini severek yapan, işini takip edip en isabetli kararlar alıp ve makul bir şekilde insanlara
                                                hizmet vermeye gayret gösteren tanıdığım ender insanlardan. Rabbım yolunu bahtını açık etsin inşallah.
                                            </p>
                                        </blockquote>
                                        <div class="mh-testimonial__photo">
                                            <img data-srcset="https://myhometheme.net/agent/wp-content/uploads/2017/02/Orpha-Letitia-100x100.jpg 100w, https://myhometheme.net/agent/wp-content/uploads/2017/02/Orpha-Letitia-150x150.jpg 150w, https://myhometheme.net/agent/wp-content/uploads/2017/02/Orpha-Letitia-300x300.jpg 300w, https://myhometheme.net/agent/wp-content/uploads/2017/02/Orpha-Letitia-400x400.jpg 400w, https://myhometheme.net/agent/wp-content/uploads/2017/02/Orpha-Letitia-200x200.jpg 200w, https://myhometheme.net/agent/wp-content/uploads/2017/02/Orpha-Letitia-600x600.jpg 600w, https://myhometheme.net/agent/wp-content/uploads/2017/02/Orpha-Letitia.jpg 634w"
                                                 class="lazyload " data-sizes="auto" alt="Orpha Letitia">
                                        </div>
                                        <div class="mh-testimonial__author-info">
                                            <h3 class="mh-testimonial__author">
                                                Merve Y.
                                            </h3>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="item">
                                <article class="mh-testimonial">
                                    <div class="mh-testimonial__inner">
                                        <blockquote class="mh-testimonial__text">
                                            <p>
                                                İlgili,alakalı,sıcakkanlı,samimi,durust ve insanlari ev sahibi yapmak için elinden gelen herseyi
                                                yapan insan size çok teşekkür ederim...
                                            </p>
                                        </blockquote>
                                        <div class="mh-testimonial__photo">
                                            <img data-srcset="https://myhometheme.net/agent/wp-content/uploads/2017/02/Alana-Dyan-100x100.jpg 100w, https://myhometheme.net/agent/wp-content/uploads/2017/02/Alana-Dyan-150x150.jpg 150w, https://myhometheme.net/agent/wp-content/uploads/2017/02/Alana-Dyan-300x300.jpg 300w, https://myhometheme.net/agent/wp-content/uploads/2017/02/Alana-Dyan-400x400.jpg 400w, https://myhometheme.net/agent/wp-content/uploads/2017/02/Alana-Dyan-200x200.jpg 200w, https://myhometheme.net/agent/wp-content/uploads/2017/02/Alana-Dyan-600x600.jpg 600w, https://myhometheme.net/agent/wp-content/uploads/2017/02/Alana-Dyan.jpg 634w"
                                                 class="lazyload " data-sizes="auto" alt="Alana Dyan">
                                        </div>
                                        <div class="mh-testimonial__author-info">
                                            <h3 class="mh-testimonial__author">
                                                Ayşe Ö.
                                            </h3>
                                            
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_row-full-width vc_clearfix"></div>
  
    </div>
</div>